
a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
	i.icon-user
	-if (user)
		|#{user}
	-else
		|Гость
	span.caret
ul.dropdown-menu
	if user
		li
			a(href='/users/#{user}') Профиль
		li.divider
		li
			a(href='/logout') Выйти
	else
		li
			a(data-toggle='modal', href='#loginModal' ) Войти
		li
			a(data-toggle='modal', href='#registrationModal' ) Зарегистрироваться