extends layout

block content
  .span12
    input.input-xxlarge(name='document_name', type='text', value=form.name, placeholder='Название документа')
  .span10
    .span4
      label Размеченый текст
    .span4
      label.btn.btn-primary.span3(name='SourceLoadLabel') Загрузить текст из файла
      input.span8(name='SourceLoadButton', type='file', style='display: none;')

    textarea.span10(name='source', rows=24)= form.razm
  .span2
    h5 Звукозаписи
    ul.span2.tracklist
  
  .span12.form-actions
    button.btn.btn-large.btn-primary(name='submit') Добавить документ
    
  script(src='/javascripts/doc_parser.js')
  script(src='/javascripts/doc_add.js')
  != assets.tag('/templates.js')
