#documents.page
  .container
    .row
      .span3
        ul.nav.nav-tabs.nav-stacked
          li
            a(href='#/document') Последние изменения
          li
            a(href='#/document/user/#{user}') Мои документы
          li
            a(href='#/document/add') Добавить документ
      .span9
        h3(name='title')
        ul(name='docs')

#document_view.page
  .container
    .descr.well.well-small
    .span12
    .contents
      h3(name='name')
      .docview(name='content')

#document_edit.page
  .container.editor-wrap
    ul.nav.nav-tabs
      li
        a(href='#', data-toggle='tab',
          data-target='#document_edit-editor-common') Общее
      li.active
        a(href='#', data-toggle='tab',
          data-target='#document_edit-editor-content') Содержание
      li
        a(href='#', data-toggle='tab',
        data-target='#document_edit-editor-audio') Аудио


    .tab-content
      .tab-pane(id='document_edit-editor-common')
        h2 common
      .tab-pane.active(id='document_edit-editor-content')
        .toolbar
          .btn-group
            button.btn.hide(title='загрузить из файла', name='load')
              i.icon-folder-open
            button.btn(title='сохранить в файл', name='save')
              i.icon-hdd
            button.btn(title='выровнить текст', name='align')
              i.icon-align-left
        .source-editor-wrap
        .log-wrap.hide
          table.table.table-condensed.log-table
            colgroup
              col.col-ln
              col.col-ch
              col.col-ms
            tbody
        .hide
          input(name='source-loader', type='file')

      .tab-pane.content(id='document_edit-editor-audio')
        .row
          .span9.complex-audio-wrap

          .span3
            button.btn(title='choose file', name='load')
              i.icon-folder-open
            audio
        .row
          .span9.view
          .span3
            ul.markerslist
        .hide
          input(name='audio', type='file')

script(src='/javascripts/codemirror.js')
script(src='/javascripts/document/codemirror_corp.js')

script(src='/javascripts/document/document.js')
script(src='/javascripts/document/view.js')
script(src='/javascripts/document/parser.js')
script(src='/javascripts/document/complexAudio.js')

script(src='/javascripts/document/sound_editor.js')
script(src='/javascripts/document/content_editor.js')

script(src='/javascripts/document/index.js')

script(src='/javascripts/document/edit_page.js')

