#index
  .container
    .hero-unit
      h2 Диалектологический корпус русского языка 2
      p
        |Железнодорожный мост — искусственное сооружение, которое строится для укладки полотна через водные препятствия.
        |На небольших водотоках и суходолах устраивают малые мосты, трубы или лотки. Разновидностями мостов являются путепроводы, виадуки и эстакады.
        |В местах пересечения железных и автомобильных дорог или двух железнодорожных линии строят путепроводы.
        |Для пересечения ущелий, глубоких долин и оврагов строят виадуки, для пересечения с городской территорией — эстакады.
        |Эстакады также строят на подходе к большим мостам.
    script(src='/javascripts/index/index.js')
