doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    //CSS 
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/docview.css')
    != assets.tag('/styles.css')

    //Shortcut icon
    link(rel='shortcut icon', href='/images/ico.png')
    
    //JavaScript
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jade-runtime.js')
    script(src='/javascripts/jquery.tmpl.min.js')
    script(src='/javascripts/bootstrap.js')
    
    style
      body {
        position: relative;
        padding-top: 40px;
      }
    
  body
    block navbar
      include navbar
    .container
      .row
        block content
    block footer
      hr  
    script(src='/javascripts/auth.js')
    script(src='/javascripts/methodedlink.js')
    script(src='/javascripts/fileuploader.js')
      
