.navbar.navbar-fixed-top
    .navbar-inner
        .container-fluid
            a.brand(href='/') Corpus
            .pull-right.btn-group
                include auth
            .nav-collapse
                ul.nav
                    li
                        a(href='/') Home
                    li
                        a(href='/about') About
                    li
                        a(href='/docs') Docs
                    li
                        a(href='/search') Search
include auth-modal