#search.page
  .row
    ul.breadcrumb
      li
        a(href='#/search/std', name='std-link')Базовый
        span.divider
          | /
      li
        a(href='#/search/ext', name='ext-link')Расширенный
  .row 
    .hero-unit(name='std-params')
      .p
        | Введите слово, которое хотите найти
      .input-append
        input.span4(name='word', type='text')
        button.btn(name='submit') Найти
    .row(name='ext-params')
      .span3
        input(name='name', type='text', placeholder='Слово')
      .span3
        input(name='first', type='text', placeholder='Начальная форма')
      .span3
        input(name='lit', type='text', placeholder='Литературное соответсвие')
      .span2
      .row
        button.btn.bth-primary(name='submit') Найти
  .row
    ul(name='result-list')
script(src='/javascripts/search/index.js')     

