li.track(track=t.id)
  span.number #{t.id}.
  
  if t.name
    span #{t.name}
    if t.uploaded
      i.icon-remove
    else
      i.icon-refresh
  else
    label.uploader
      i.icon-upload
      |загрузить
